img {
	width: 30rem;
}

.left {
	float: left;
	margin: 0.8rem 0.8rem 0.8rem 0;
}

.right {
	float: right;
	margin: 0.8rem 0 0.8rem 0.8rem;
}

figcaption {
	font-style: italic;
	text-align: center;
	color: var(--white);
}

@media (max-width: 700px) {
	img,
	.right,
	.left {
		width: 100%;
		margin: 0.8rem 0;
		float: none;
	}
}
