html {
	overscroll-behavior-y: none;
	scroll-padding-block-start: 5rem;
	scrollbar-gutter: stable;
	scrollbar-color: var(--bright_grey) transparent;
	text-size-adjust: none;
}

:root {
	color-scheme: light dark;

	--black: oklch(18% 0.003 17.5);

	--dark_grey: oklch(24% 0.006 17.6);
	--grey: oklch(36% 0.003 17.3);
	--bright_grey: oklch(47% 0.005 17.3);

	--white: oklch(76% 0.03 55);
	--bright_white: oklch(94.75% 0.04 73);

	--red: oklch(62.7% 0.222 27.8);
	--bright_red: oklch(67.7% 0.184 25);

	--orange: oklch(69.2% 0.189 47.8);
	--bright_orange: oklch(74.2% 0.137 56.3);

	--yellow: oklch(80.8% 0.165 73.5);
	--bright_yellow: oklch(87.8% 0.127 84.5);

	--green: oklch(65.2% 0.141 142.1);
	--bright_green: oklch(70.5% 0.114 142.9);

	--blue: oklch(56.5% 0.13 253);
	--bright_blue: oklch(67.6% 0.09 251.3);

	--cyan: oklch(71.2% 0.112 198.7);
	--bright_cyan: oklch(78.3% 0.118 198.5);

	--magenta: oklch(61.2% 0.21 5.4);
	--bright_magenta: oklch(63.5% 0.2 4.8);
}

body {
	display: flex;
	flex-direction: column;
	margin-block: 0;
	margin-inline: 3rem;
	color: light-dark(var(--black), var(--bright_white));
	background: light-dark(var(--bright_white), var(--black));
	transition: 0.25s;
}

main {
	display: flex;
	gap: 3rem;
	margin-block: 5rem;
	flex-grow: 1;

	> div {
		min-inline-size: 0;
		inline-size: 100%;
	}
}

@media (max-width: 45rem) {
	body {
		margin-inline: 0.8rem;
	}

	main {
		flex-direction: column;
		gap: 0;
	}
}

@view-transition {
	navigation: auto;
}

::view-transition-group(root) {
	animation: none;
}

@media (prefers-reduced-motion: reduce) {
	::view-transition-group(*) {
		animation: none;
	}
}
