img {
	max-block-size: 90vh;
}

figure {
	inline-size: fit-content;
	max-inline-size: 100%;
}

figure:has(img, svg) {
	margin-inline: auto;
	position: relative;
}

figcaption {
	margin-block-start: 0.75rem;
	margin-inline: 0.5rem;
	font-size: small;
	font-style: italic;
	text-align: center;
	color: light-dark(var(--grey), var(--white));
	text-wrap: balance;
	line-height: 1.5;
}

.left {
	float: left;
	inline-size: 65%;
	margin: 1rem;
	margin-inline-start: -2rem;
}

.right {
	float: right;
	inline-size: 65%;
	margin: 1rem;
	margin-inline-end: -2rem;
}

.figure-content-wrapper {
	position: relative;
	inline-size: 100%;
	block-size: 100%;
}

.blur {
	position: absolute;
	inset: 0;
	z-index: -1;
	scale: 1.05;
	filter: blur(1rem);

	@media (prefers-color-scheme: dark) {
		filter: blur(1rem) brightness(0.5);
	}
}

.censor {
	filter: blur(0.5rem) grayscale(50%);
	transition: 0.3s;
	cursor: pointer;

	&:hover,
	&:focus {
		filter: none;
	}
}

.lightbox {
	color: inherit;
	overflow-y: auto;
	align-content: center;
	border: none;
	background: none;
	margin: auto;

	&::backdrop {
		background: light-dark(rgba(255, 243, 229, 0.7), rgba(0, 0, 0, 0.7));
		backdrop-filter: blur(2rem) saturate(0.5);
	}

	img {
		position: relative;
		display: block;
		max-inline-size: 100%;
		max-block-size: calc(90vh - 60px);
		filter: none;
		z-index: 1;
	}

	.caption,
	.alt-text {
		margin-block: 1rem;
		margin-inline: auto;
		text-align: center;
		max-inline-size: 70ch;
	}

	.alt-text {
		padding-block-start: 1rem;
		border-block-start: 2px solid var(--bright_grey);
		font-size: 0.9rem;
	}

	.close {
		position: fixed;
		inset-block-start: 0.8rem;
		inset-inline-end: 2rem;
		padding: 0.8rem;
		background: none;
		border: transparent;
		z-index: 1;

		svg {
			block-size: 2rem;
			inline-size: 2rem;
			fill: light-dark(var(--black), var(--bright_white));
		}
	}
}

:root:has(.lightbox[open]) {
	overflow: hidden;
}

.table-wrapper {
	overflow-x: scroll;
}

table {
	border-collapse: collapse;
	font-size: 0.9rem;
	font-variant-numeric: tabular-nums lining-nums slashed-zero;
	background: light-dark(oklch(from var(--white) l c h / 0.3), oklch(from var(--dark_grey) l c h / 0.3));
}

tbody tr:nth-child(even),
thead {
	background: light-dark(oklch(from var(--white) l c h / 0.3), oklch(from var(--grey) l c h / 0.4));
}

thead {
	border-block-end: 2px solid var(--bright_grey);

	strong {
		font-weight: 700;
	}
}

td,
th {
	padding-block: 0.2rem;
	padding-inline: 0.5rem;
}

@media (max-width: 45rem) {
	.left,
	.right {
		float: none;
		margin-block: 1rem;
		margin-inline: auto;
	}

	.lightbox {
		padding: 0.8rem;

		.close {
			padding: 0.8rem;
			inset-block-start: 0;
			inset-inline-end: 0.8rem;
		}
	}
}
