img {
	max-block-size: 90vb;
}

figure {
	inline-size: 100%;

	&:has(img, svg) {
		margin-inline: auto;
		position: relative;
	}

	&:not(.left, .right) {
		margin-block: 3rem;
		padding-inline: 3rem;
	}

	&.left,
	&.right {
		inline-size: 65%;
		margin: 1rem;
	}

	&.left {
		float: left;
		margin-inline-start: -2rem;
	}

	&.right {
		float: right;
		margin-inline-end: -2rem;
	}

	@media (max-width: 45rem) {
		&.left,
		&.right {
			float: none;
			margin-block: 2rem;
			margin-inline: auto;
			inline-size: 85%;
		}
	}

	.open {
		position: absolute;
		inset: 0;
		background: none;
		padding: 0;

		svg {
			position: absolute;
			block-size: 1.5rem;
			fill: var(--bright_white);
			inset-block-start: 1rem;
			inset-inline-end: 1rem;
			background: oklch(from var(--grey) l c h / calc(alpha - 0.5));
			backdrop-filter: blur(0.75rem);
			padding: 0.15rem;
			opacity: 0;
			transition: 0.1s;
		}

		&:hover,
		&:focus {
			svg {
				opacity: 1;
			}
		}
	}
}

figcaption {
	position: relative;
	margin-block-start: 0.75rem;
	margin-inline: 0.5rem;
	font-size: small;
	font-style: italic;
	text-align: center;
	color: light-dark(var(--grey), var(--white));
	text-wrap: balance;
	line-height: 1.5;
	z-index: 1;
}

.figure-content-wrapper {
	position: relative;
	block-size: 100%;
	inline-size: fit-content;
	margin-inline: auto;
}

.blur {
	position: absolute;
	inset: 0;
	z-index: -1;
	scale: 1.05;
	filter: blur(1rem);
	background-size: contain;

	@media (prefers-color-scheme: dark) {
		filter: blur(1rem) brightness(0.6);
	}
}

.censor img {
	filter: blur(0.5rem) grayscale(50%);
	cursor: pointer;
	transition: 0.3s;
}

.censor:hover img,
.censor:focus-within img {
	filter: none;
}

.lightbox {
	max-block-size: 100vb;
	max-inline-size: 100vi;
	inline-size: 100vi;
	padding-block: 2rem;
	padding-inline: 1rem;
	margin-block: auto;
	background: none;
	border: none;
	color: inherit;

	&::backdrop {
		background: light-dark(rgba(255, 243, 229, 0.7), rgba(0, 0, 0, 0.7));
		backdrop-filter: blur(2rem) saturate(0.5);
	}

	> * {
		margin-inline: auto;
	}

	img,
	> svg {
		inline-size: 100%;
		max-inline-size: 60rem;
		max-block-size: calc(90vb - 4rem);
		margin-block-end: 2rem;
		object-fit: contain;
	}

	.caption,
	.alt-text {
		margin-block-start: 1rem;
		margin-inline: auto;
		text-align: center;
		max-inline-size: 70ch;
		font-size: 0.9rem;
		color: inherit;
	}

	&:has(figcaption) .alt-text {
		padding-block-start: 1rem;
		border-block-start: 2px solid var(--bright_grey);
	}

	.close {
		position: fixed;
		inset-block-start: 1rem;
		inset-inline-end: 1rem;
		background: oklch(from var(--grey) l c h / calc(alpha - 0.5));
		backdrop-filter: blur(0.75rem);
		padding: 0.25rem;
		z-index: 1;

		svg {
			block-size: 1.75rem;
			fill: var(--bright_white);
		}
	}

	@media (max-width: 45rem) {
		padding-inline: 0.8rem;
	}
}

:root:has(.lightbox[open]) {
	overflow: hidden;
}

.table-wrapper {
	overflow-x: scroll;
}

table {
	border-collapse: collapse;
	font-size: 0.9rem;
	font-variant-numeric: tabular-nums lining-nums slashed-zero;
	background: light-dark(oklch(from var(--white) l c h / 0.3), oklch(from var(--dark_grey) l c h / 0.3));
}

tbody tr:nth-child(even),
thead {
	background: light-dark(oklch(from var(--white) l c h / 0.3), oklch(from var(--grey) l c h / 0.4));
}

thead {
	border-block-end: 2px solid var(--bright_grey);

	strong {
		font-weight: 700;
	}
}

td,
th {
	padding-block: 0.2rem;
	padding-inline: 0.5rem;
}
