.sidenote {
	display: none;

	@media (min-width: 1400px) {
		display: block;
		position: absolute;
		inset-inline-start: 68rem;
		inset-inline-end: 3rem;
		max-inline-size: 60ch;
		font-size: small;
		line-height: 1.5;
		color: light-dark(var(--grey), var(--white));
		padding-block-end: 1rem;
		transition: background-color 0.25s;
		border-block-start: 1px solid light-dark(var(--white), var(--bright_grey));

		p {
			padding-block-start: 0.25rem;
		}

		> * + * {
			margin-block-start: 0.5rem;
		}

		[data-footnote-backref] {
			display: none;
		}
	}
}

.footnote-button.highlight,
.sidenote.highlight {
	outline: 2px solid var(--blue);
	color: inherit;
}

.sidenote:hover {
	color: inherit;
}

.footnote-popover {
	position: absolute;
	color: inherit;
	inset: auto;
	inset-inline-start: 13rem;
	border: 2px solid light-dark(var(--white), var(--bright_grey));
	background: light-dark(var(--bright_white), var(--black));
	padding-block: 0.5rem;
	padding-inline: 1rem;
	font-size: small;
	line-height: 1.5;

	.footnote-content > * + * {
		margin-block-start: 0.5rem;
	}

	[data-footnote-backref] {
		display: none;
	}
}

.footnotes {
	margin-block-start: 4rem;
	margin-inline: 3rem;

	@media (max-width: 45rem) {
		margin-inline: 1rem;
	}

	&::before {
		content: "✷✷✷";
		display: block;
		text-align: center;
		margin-block-end: 3rem;
	}

	li {
		font-size: small;
		line-height: 1.5;

		p {
			border-inline-start: 2px solid light-dark(var(--white), var(--bright_grey));
			padding-inline-start: 1rem;
			margin-inline-start: 0.5rem;

			+ p {
				padding-block-start: 0.5rem;
			}
		}

		&:target p {
			border-color: var(--blue);
		}

		[data-footnote-backref]::after {
			content: none;
		}
	}
}

.footnote-button {
	/* Also inherits from link styles in `/type/links.css` */
	display: initial;
	background: none;
	padding-inline: 0.25rem;
}
