@import url("/assets/styles/base/body.css");
@import url("/assets/styles/base/reset.css");

* {
	border-radius: 0 !important;
	border: none !important;
}

.gsc-reactions-popover {
	background: light-dark(var(--grey));
	color: white;

	--color-border-default: var(--grey);

	&::before {
		top: -14px;
	}
}

.gsc-header {
	display: none !important;
}

.gsc-comment-box button.color-border-primary {
	background: light-dark(var(--white), var(--dark_grey));
}

.gsc-comment-box-main {
	margin: 0 !important;
}

.gsc-comment-box-preview {
	background: light-dark(var(--white), var(--dark_grey)) !important;
}

.gsc-comment-box-write {
	background: light-dark(var(--white), var(--dark_grey)) !important;

	.gsc-comment-box-textarea {
		border-bottom-style: solid;
	}

	.gsc-comment-box-textarea-extras {
		display: none;
	}
}

.gsc-comment-box-bottom button {
	color: red;
	text-decoration: none;
}

.gsc-comment-box-buttons {
	background: var(--green);
	color: var(--black);
}

.mx-2 {
	margin-inline-end: 0 !important;
	margin-inline-start: 0 !important;
}
