button,
::file-selector-button,
select,
input,
textarea {
	display: block;
	accent-color: var(--blue);
	color: light-dark(var(--black), var(--bright_white));
	padding-block: 0.4rem;
	padding-inline: 0.6rem;
	background: light-dark(var(--white), var(--grey));
	border: transparent;
	border-radius: 0;
	font-family: inherit;
}

button {
	svg {
		fill: light-dark(var(--black), var(--bright_white));
	}

	&:hover {
		color: light-dark(var(--bright_white), var(--black));
		background: light-dark(var(--grey), var(--white));

		svg {
			fill: light-dark(var(--bright_white), var(--black));
		}
	}
}

::file-selector-button {
	display: inline;
	margin-inline-end: 1ch;
	background: light-dark(var(--bright_white), var(--dark_grey));
}

input[type="range"] {
	background: transparent;
	padding-inline: 0;

	&::-moz-range-thumb {
		border: 3px solid light-dark(var(--bright_white), var(--black));
		border-radius: 0;
		background-color: light-dark(var(--grey), var(--white));
	}

	&::-moz-range-track {
		background-color: var(--blue);
	}
}

textarea {
	inline-size: 100%;
}

input[type="checkbox"] {
	appearance: none;
	display: inline-block;
	inline-size: 1rem;
	block-size: 1rem;
	vertical-align: -0.25rem;
	margin-inline-end: 1ch;

	&:checked {
		background: var(--blue) center / 200% no-repeat;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Cpath d='M25 25 L75 75 M75 25 L25 75' stroke='oklch(94.75% 0.04 73)' stroke-width='5' /%3E%3C/svg%3E");

		@media (prefers-color-scheme: dark) {
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Cpath d='M25 25 L75 75 M75 25 L25 75' stroke='oklch(18% 0.003 17.5)' stroke-width='5' /%3E%3C/svg%3E");
		}
	}
}

label {
	font-size: small;
}

ul:has(input) {
	margin-inline-start: 1rem;

	li {
		display: flex;
		align-items: center;
		list-style: none;
	}
}

::placeholder {
	opacity: 1;
	color: light-dark(var(--bright_grey), var(--white));
}

:focus-visible {
	outline: var(--blue) solid 2px;
}

::selection {
	background: light-dark(oklch(from var(--magenta) l c h / calc(alpha - 0.8)), oklch(from var(--blue) l c h / calc(alpha - 0.4)));
	-webkit-text-fill-color: initial;
}
