button,
select,
input,
textarea {
	display: block;
	color: light-dark(var(--black), var(--bright_white));
	padding-block: 0.3rem;
	padding-inline: 0.5rem;
	background: light-dark(var(--white), var(--grey));
	border: transparent;
	border-radius: 0;
	font-family: inherit;
}

button {
	svg {
		fill: light-dark(var(--black), var(--bright_white));
	}

	&:hover {
		color: light-dark(var(--bright_white), var(--black));
		background: light-dark(var(--grey), var(--white));

		svg {
			fill: light-dark(var(--bright_white), var(--black));
		}
	}
}

textarea {
	inline-size: 100%;
	resize: vertical;
}

input[type="checkbox"] {
	display: inline-block;
	inline-size: 1rem;
	block-size: 1rem;
	margin-inline-end: 1ch;
	appearance: none;

	&:checked {
		background: var(--blue) center / 200% no-repeat;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Cpath d='M25 25 L75 75 M75 25 L25 75' stroke='oklch(94.75% 0.04 73)' stroke-width='5' fill='none' /%3E%3C/svg%3E");

		@media (prefers-color-scheme: dark) {
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Cpath d='M25 25 L75 75 M75 25 L25 75' stroke='oklch(18% 0.003 17.5)' stroke-width='5' fill='none' /%3E%3C/svg%3E");
		}
	}
}

label {
	font-size: small;
}

::placeholder {
	opacity: 1;
	color: light-dark(var(--bright_grey), var(--white));
}

:focus-visible {
	outline: var(--blue) solid 2px;
}

::selection {
	background: var(--blue);
	-webkit-text-fill-color: initial;
}

:disabled {
	opacity: 0.7;
	cursor: not-allowed;
}
