body:has(#popover-menu:popover-open) {
	overflow: hidden;
	pointer-events: none;
	user-select: none;
}

#navbar {
	position: fixed;
	inset: 0;
	inset-block-end: auto;
	block-size: 5rem;
	padding-inline: 3rem;
	pointer-events: none;
	z-index: 1000;

	@media (max-width: 45rem) {
		padding-inline: 0.8rem;
	}

	nav {
		display: flex;
		align-items: center;
		justify-content: end;
		block-size: 100%;
		text-transform: uppercase;
		font-size: 1.3rem;

		a {
			padding: 0.5rem;
			text-decoration: none;
			pointer-events: all;

			&::after {
				content: none;
			}
		}

		svg {
			block-size: 1.65rem;
			fill: currentColor;
		}

		.search-nav svg {
			block-size: 1.4rem;
		}

		#navlanding {
			font-weight: 700;
		}

		ul,
		li {
			margin: 0;
			list-style: none;
		}

		button {
			pointer-events: all;
			background: none;
			font-size: 1.75rem;

			&:hover {
				color: inherit;
			}
		}

		.toc-button {
			display: none;
			margin-inline-end: auto;
			padding-inline-start: 0;
		}

		.popover-button {
			padding-inline-end: 0;
		}

		#popover-menu {
			width: fit-content;
			block-size: 100%;
			inset-inline-start: auto;
			border: none;
			background: linear-gradient(transparent, var(--red));
			backdrop-filter: blur(1.5rem);
			color: light-dark(var(--black), var(--bright_white));
			transition:
				opacity 0.15s,
				transform 0.15s;

			@starting-style {
				transform: translateX(1rem);

				&:dir(rtl) {
					transform: translateX(-1rem);
				}
			}

			@media (max-width: 45rem) {
				inline-size: 100%;

				@starting-style {
					opacity: 0;
					transform: translateY(1rem);
				}
			}

			&::backdrop {
				background: oklch(from light-dark(var(--bright_white), var(--black)) l c h / 0.4);
			}

			button {
				position: absolute;
				inset-block-start: 1rem;
				inset-inline-end: 2.2rem;
				padding: 0.8rem;

				@media (max-width: 45rem) {
					inset-inline-end: 0;
				}
			}

			ul {
				justify-content: center;
				text-align: end;
				margin-block: 4rem;
				margin-inline: 3rem;
				max-block-size: 100%;
				font-size: 2rem;
				font-weight: 700;

				li {
					inline-size: 100%;
				}

				a {
					display: block;
					padding-block: 1.25rem;
				}

				@media (max-width: 45rem) {
					margin-block: 4rem;
					margin-inline: 0.8rem;
					text-align: center;
				}
			}
		}
	}

	.skip-link {
		position: absolute;
		inset-block-start: 0;
		inset-inline-start: 0;
		padding: 0.5rem;
		margin: 1rem;
		background: light-dark(var(--white), var(--grey));
		transform: translateY(calc(-100% - 1rem));
		transition: transform 0.1s;
		z-index: calc(infinity);

		&:focus-within {
			transform: translateY(0%);
		}
	}

	&::after {
		content: "";
		position: absolute;
		inset-block-start: 0;
		inset-inline-start: 0;
		inline-size: 100%;
		block-size: 100%;
		background: linear-gradient(light-dark(var(--bright_white), var(--black)), transparent);
		z-index: -1;
	}
}

#scroll-container {
	display: none; /* Set to block in JS */
	position: sticky;
	inset-block-start: 3rem;
	block-size: calc(100vh - 6rem);
	inline-size: 2px;
	background-color: light-dark(var(--white), var(--grey));
	z-index: 1000;

	#indicator {
		position: absolute;
		inset-inline-start: -0.5px;
		inline-size: 3px;
		background-color: var(--magenta);
		min-block-size: 5%;
	}

	.heading-marker-container {
		position: absolute;
		max-inline-size: 7rem;
		text-decoration: none;

		&::after {
			content: "";
		}
	}

	.heading-indicator {
		display: block;
		margin-inline-start: -0.5px;
		inline-size: 3px;
		block-size: 5px;
		background-color: light-dark(var(--bright_white), var(--black));

		&:after {
			content: none;
		}
	}

	@media (max-width: 45rem) {
		position: fixed;
		inset: 0 0 auto;
		block-size: 4px;
		inline-size: 100%;

		#indicator {
			inset-inline-start: 0;
			block-size: 100%;
		}

		.heading-indicator {
			inline-size: 5px;
			block-size: 4px;
			position: fixed;
			inset-block-start: 0;
		}
	}
}

.heading-label {
	opacity: 0;
	visibility: hidden;
	transition:
		opacity 0.25s ease,
		visibility 0.25s;
}

.heading-label,
.scroll-percentage {
	display: block;
	opacity: 1;
	visibility: hidden;
	inline-size: 7rem;
	margin-inline-start: 1rem;
	line-height: 1.1;
	font-size: 0.8rem;
	transform: translateY(-50%);
	filter: blur(0.5rem);
	transition: filter 0.25s ease;
}

.sidebar {
	margin-inline-end: -3rem;
	padding-inline-end: 3rem;

	&:focus-within .heading-label,
	&:hover .heading-label {
		opacity: 1;
		visibility: visible;
	}

	&:focus-within :where(.heading-label, .scroll-percentage),
	&:hover :where(.heading-label, .scroll-percentage) {
		filter: blur(0);
		visibility: visible;
	}
}

#toc-menu {
	inline-size: 100%;
	block-size: fit-content;
	max-height: 40%;
	padding: 1rem;
	border: none;
	background: linear-gradient(transparent, light-dark(var(--bright_white), var(--black)));
	backdrop-filter: blur(1.5rem);
	color: light-dark(var(--black), var(--bright_white));

	.close {
		position: fixed;
		inset-block-start: 1rem;
		inset-inline-end: 1rem;
		background: oklch(from var(--grey) l c h / calc(alpha - 0.5));
		backdrop-filter: blur(0.75rem);
		padding: 0.1rem;
		z-index: 1;

		svg {
			block-size: 1.75rem;
			fill: var(--bright_white);
		}
	}

	.horizontal-percentage {
		font-size: 0.9rem;
		height: 1.95rem;
		align-content: center;
	}

	.headers-list {
		margin-block-start: 1rem;
	}

	.header-list-link {
		&.active {
			font-weight: bold;
		}

		&::after {
			display: none;
		}
	}
}

@media (max-width: 45rem) {
	html:has(#toc-menu:popover-open) {
		margin-block-start: var(--toc-height);
		scroll-padding-top: calc(var(--toc-height) + 2rem);
	}

	#scroll-container:has(#toc-menu:popover-open),
	#scroll-container:has(#toc-menu:popover-open) .heading-indicator {
		inset-block-start: var(--toc-height);
	}
}
