main {
	display: block;
}

#landingbody,
footer {
	position: relative;
	z-index: 1;
}

#hero {
	height: 85dvh;
	font-size: 2.5rem;
	line-height: 2.5rem;
	display: flex;
	align-items: center;
}

#herotext {
	pointer-events: none;
	z-index: 1000;

	h1 {
		font-size: 6rem;
		line-height: 6rem;
	}
}

#puddle-container {
	color: var(--bright_grey);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	pointer-events: auto;
	cursor: default;
	user-select: none;
}

#puddle-container::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50%;
	background: linear-gradient(transparent, var(--black));
	pointer-events: none;
}
