.portfolio {
	display: flex;
	flex-wrap: wrap;
	gap: 2%;
	justify-content: space-between;

	.item {
		border-bottom: 2px solid var(--bright_grey);
		flex-basis: 48%;
		padding: 0.5rem 0;
	}

	h3 {
		margin: 0;
	}

	p {
		text-transform: uppercase;
		margin: 0;
	}

	a {
		text-decoration: none;
	}
}

.portfolio:not(:last-child) {
	margin-bottom: 10rem;
}

@media (max-width: 1000px) {
	.portfolio {
		flex-direction: column;

		.item {
			width: 100%;
		}
	}
}
