.elsewhere {
	display: flex;
	padding-block: 1rem;
	border-bottom: 2px solid var(--bright_grey);
	text-decoration: none;
	text-transform: uppercase;
	gap: 1rem;

	img {
		max-height: 5rem;
		min-width: 10rem;
		aspect-ratio: 16 / 9;
		width: 20%;
		object-fit: cover;

		@media (max-width: 35rem) {
			display: none;
		}
	}

	div {
		flex: 1;
		margin-block: auto;
	}

	h2 {
		font-size: 1.5rem;
		line-height: inherit;
	}

	.note {
		margin-block-start: 0.5rem;
		text-transform: none;
	}

	&:focus,
	&:hover {
		color: var(--blue);
		border-color: var(--blue);
	}

	&::after {
		display: none;
	}
}

.pagination {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
	text-align: center;

	a {
		padding: 2rem;
	}

	@media (min-width: 26rem) {
		p {
			padding-block: 2rem;
		}
	}

	@media (max-width: 26rem) {
		grid-template-columns: none;
	}
}
