#posts {
	margin: 0;

	.elsewhere {
		position: relative;
		display: flex;
		gap: 1rem;
		padding-block: 1rem;
		margin: 0;
		border-block-end: 2px solid var(--bright_grey);
		text-decoration: none;
		text-transform: uppercase;
		font-variant-numeric: lining-nums;
		font-variant-caps: titling-caps;

		&:focus,
		&:hover {
			border-color: var(--blue);
		}

		div {
			flex: 1;
			margin-block: auto;
		}

		h2 {
			font-size: 1.5rem;
			line-height: inherit;
			position: static;
		}

		a {
			outline: none;

			&::after {
				content: "";
				display: block;
				position: absolute;
				inset: 0;
			}

			&:focus-visible::after {
				outline: 2px solid var(--blue);
				margin-inline: -0.5rem;
			}
		}

		.note {
			margin-block-start: 0.5rem;
			text-transform: none;
			z-index: 10;
			position: relative;
		}

		img {
			max-block-size: 5rem;
			inline-size: 20%;
			min-inline-size: 10rem;
			aspect-ratio: 16 / 9;
			object-fit: cover;

			@media (max-width: 35rem) {
				display: none;
			}
		}
	}
}

.pagination {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
	text-align: center;

	a {
		padding: 2rem;
	}

	@media (min-width: 26rem) {
		p {
			padding-block: 2rem;
		}
	}

	@media (max-width: 26rem) {
		grid-template-columns: none;
	}
}
