article {
	max-width: 65ch;
	padding: 2rem 1rem;
	margin: 1rem 0;

	header {
		display: flex;
		justify-content: space-between;
		gap: 2rem;
		margin-bottom: 1rem;

		h2 {
			font-size: inherit;
			line-height: inherit;
			font-weight: normal;
		}

		div {
			display: flex;
			gap: 1ch;
		}
	}
}

.post {
	background: light-dark(oklch(from var(--cyan) l c h / calc(alpha - 0.8)), oklch(from var(--cyan) l c h / calc(alpha - 0.9)));
}

.photo {
	background: light-dark(oklch(from var(--green) l c h / calc(alpha - 0.8)), oklch(from var(--green) l c h / calc(alpha - 0.9)));

	p {
		margin-bottom: 1rem;
	}
}

.micro {
	background: light-dark(oklch(from var(--blue) l c h / calc(alpha - 0.8)), oklch(from var(--blue) l c h / calc(alpha - 0.9)));
}

.socials {
	display: flex;
	gap: 1rem;

	a::after {
		display: none;
	}

	svg {
		width: 1.25rem;
		min-width: 1.25rem;
	}
}

.pagination {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 65ch;

	a {
		padding: 2rem;
	}

	@media (max-width: 24rem) {
		flex-direction: column;
	}
}
