article {
	max-inline-size: 65ch;
	padding-block: 2rem;
	padding-inline: 1rem;
	margin-block: 1rem;

	header {
		display: flex;
		justify-content: space-between;
		gap: 2rem;
		margin-block-end: 2rem;

		div:not(.socials) svg {
			block-size: 1.2rem;
			fill: currentColor;
		}

		h2 {
			font-size: inherit;
			line-height: inherit;
			font-weight: 600;
		}

		div {
			display: flex;
			gap: 1ch;
			align-items: center;
		}
	}
}

.post {
	background: light-dark(oklch(from var(--magenta) l c h / calc(alpha - 0.8)), oklch(from var(--magenta) l c h / calc(alpha - 0.9)));
}

.photo {
	background: light-dark(oklch(from var(--green) l c h / calc(alpha - 0.8)), oklch(from var(--green) l c h / calc(alpha - 0.9)));

	img {
		margin-block-start: 1rem;
	}
}

.video {
	background: light-dark(oklch(from var(--red) l c h / calc(alpha - 0.8)), oklch(from var(--red) l c h / calc(alpha - 0.9)));

	img {
		margin-block-start: 1rem;
		max-block-size: 30rem;
	}
}

.elsewhere {
	background: light-dark(oklch(from var(--yellow) l c h / calc(alpha - 0.8)), oklch(from var(--yellow) l c h / calc(alpha - 0.9)));
}

/* .recurring-event { */
/* 	margin-block: 2rem; */
/**/
/* 	header { */
/* 		margin-block-end: 1rem; */
/* 	} */
/**/
/* 	.readable { */
/* 		text-align: center; */
/* 		padding-inline: 4rem; */
/* 	} */
/**/
/* 	strong { */
/* 		font-size: larger; */
/* 	} */
/* } */

.micro {
	background: light-dark(oklch(from var(--blue) l c h / calc(alpha - 0.8)), oklch(from var(--blue) l c h / calc(alpha - 0.9)));
}

.socials {
	display: flex;
	gap: 1rem;

	a::after {
		display: none;
	}

	svg {
		inline-size: 1.25rem;
		min-inline-size: 1.25rem;
	}
}

.pagination {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
	text-align: center;
	max-inline-size: 65ch;

	a {
		padding: 2rem;
	}

	@media (min-width: 26rem) {
		p {
			padding-block: 2rem;
		}
	}

	@media (max-width: 26rem) {
		grid-template-columns: none;
	}
}
