main {
	display: block;
	margin-block-end: 3rem;
}

#puddle-container {
	position: absolute;
	display: grid;
	inset: 0;
	color: var(--bright_grey);
	user-select: none;
	font-family: "Fira Code", monospace;

	&::after {
		content: "";
		position: absolute;
		inset: 0;
		inset-block-start: 0;
		background: linear-gradient(transparent, light-dark(var(--bright_white), var(--black)));
		pointer-events: none;
	}
}

.hero {
	position: relative;
	block-size: 85dvb;
	pointer-events: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 1.8rem;
	line-height: 2.2rem;

	h1 {
		font-size: 6rem;
		line-height: 6rem;
	}
}

.content {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 12rem;
}

.reasonable-width {
	max-width: 80rem;
	margin-inline: auto;
}

.right-block {
	margin-inline-start: auto;

	ul {
		> :nth-child(1) a {
			text-decoration-color: var(--magenta);
		}

		> :nth-child(2) a {
			text-decoration-color: var(--orange);
		}

		> :nth-child(3) a {
			text-decoration-color: var(--blue);
		}

		> :nth-child(4) a {
			text-decoration-color: var(--green);
		}

		> :nth-child(5) a {
			text-decoration-color: var(--red);
		}

		> :nth-child(6) a {
			text-decoration-color: var(--bright_grey);
		}

		> :nth-child(7) a {
			text-decoration-color: var(--orange);
		}

		> :nth-child(8) a {
			text-decoration-color: var(--cyan);
		}
	}
}

#container {
	display: none; /* Set to block with JS */
	position: relative;
	/* Inline size set in JS */
	block-size: 70vb;
	max-block-size: 50rem;
	margin-inline: -3rem;
	margin-block-start: 1rem;
	margin-block-end: 4rem;
	background: light-dark(var(--white), var(--dark_grey));
	box-shadow: inset 0 0 2rem light-dark(var(--bright_grey), var(--black));

	@media (max-width: 45rem) {
		margin-inline: -0.8rem;
	}

	button:hover {
		background: var(--bright_grey);
	}
}

#canvas {
	display: block;
}

#info,
#fullscreen-btn,
#zoom-controls,
#recenter-btn {
	position: absolute;
	padding: 0.5rem;
	color: var(--bright_white);
	background: oklch(from var(--grey) l c h / calc(alpha - 0.5));
	backdrop-filter: blur(0.75rem);
	z-index: 100;

	svg {
		block-size: 1.3rem;
		fill: var(--bright_white);
	}
}

#info {
	display: none; /* Set to block with JS */
	inset-block-start: 1rem;
	inset-inline-start: 3.75rem;
	margin-inline-end: 1rem;
	padding-block: 0.4rem;
}

#fullscreen-btn {
	inset-block-start: 1rem;
	inset-inline-start: 1rem;
}

#zoom-controls {
	display: grid;
	gap: 0.5rem;
	inset-block-end: 4rem;
	inset-inline-end: 1rem;
	padding: 0;
	font-size: 0.8rem;
	text-align: center;

	button {
		background: none;
		aspect-ratio: 1;
	}
}

#recenter-btn {
	inset-block-end: 1rem;
	inset-inline-end: 1rem;
}

.dragging {
	cursor: move !important;
}

.pleasure {
	text-align: center;
	margin-block: 10rem;
	font-size: 1.1rem;
	font-weight: 600;
	font-style: italic;
	text-wrap: balance;
	filter: url(#distort);
}

#web-badges {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: center;
	padding: 1rem;
	max-inline-size: 30rem;
	margin-inline: auto;
	border: 2px inset var(--grey);

	img {
		image-rendering: pixelated;
	}

	a::after {
		display: none;
	}
}
