@media (max-width: 45rem) {
	.section {
		display: none;
	}
}

#refine-entries,
#filter-message {
	display: none; /* Set to block with JS */
}

#refine-entries {
	margin-block-start: 3rem;
	margin-block-end: 1rem;
}

#filter-message {
	text-align: center;
	margin-block-start: 3rem;
	font-style: italic;
}

.books,
.films,
.series,
.albums,
.games {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	max-width: 70rem;
	margin-inline: 0;

	@media (min-width: 55rem) {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	> li {
		background: light-dark(var(--white), var(--dark_grey));
		padding: 1rem;
		margin: 0;

		&::marker {
			content: none;
		}
	}

	h2 {
		text-transform: none;
		font-size: 1.2rem;
		line-height: 1.5rem;

		span {
			margin-inline-start: auto;
			padding-inline-start: 1ch;
		}
	}

	.authors,
	.artists {
		font-size: 0.8rem;
		margin-block-start: 0.25rem;
		font-style: italic;
	}

	.star-rating {
		font-family: "Fira Code";
		font-size: 1.2rem;
		letter-spacing: 0.1rem;
	}

	details,
	details summary {
		background: light-dark(oklch(from var(--bright_white) l c h / 0.3), oklch(from var(--black) l c h / 0.5));
	}
}
