@media (max-width: 45rem) {
	.section {
		display: none;
	}
}

.readable > ul > li > a > img {
	display: inline;
	width: 1rem;
	margin-inline-start: 0.5ch;
	margin-inline-end: 1ch;
	vertical-align: middle;
}
