article {
	max-width: 65ch;
	padding: 1rem 1rem 2rem;
	margin: 1rem 0;
	border-bottom: 2px solid var(--bright_grey);

	header {
		display: flex;
		justify-content: space-between;
		gap: 2rem;
		margin-bottom: 1rem;

		h2 {
			font-size: inherit;
			line-height: inherit;
			font-weight: 600;
		}

		div {
			display: flex;
			gap: 1ch;
		}
	}
}

.socials {
	display: flex;
	gap: 1rem;

	a::after {
		display: none;
	}

	svg {
		width: 1.25rem;
		min-width: 1.25rem;
	}
}

.pagination {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
	text-align: center;
	max-width: 65ch;
	margin-block-start: 2rem;

	a {
		padding: 2rem;
	}

	@media (min-width: 26rem) {
		p {
			padding-block: 2rem;
		}
	}

	@media (max-width: 26rem) {
		grid-template-columns: none;
	}
}
