@media (max-width: 45rem) {
	.section {
		display: none;
	}
}

article header {
	display: flex;
	flex-grow: 1;
	justify-content: space-between;
	gap: 2rem;
	padding-block-end: 0.5rem;
	margin-block-end: 1rem;
	border-block-end: 2px solid var(--bright_grey);
	max-inline-size: 60ch;

	h1 {
		font-size: inherit;
		line-height: inherit;
	}
}

.socials {
	display: flex;
	gap: 1rem;

	a::after {
		display: none;
	}

	svg {
		inline-size: 1.25rem;
		min-inline-size: 1.25rem;
	}

	@media (min-width: 65rem) {
		&:is(div) {
			display: none;
		}
	}

	@media (max-width: 65rem) {
		&:is(aside) {
			display: none;
		}
	}
}

.micro-content {
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;
	gap: 3rem;

	aside {
		flex-direction: column;
		font-size: 0.9rem;
		position: sticky;
		inset-block-start: 5rem;
		block-size: fit-content;

		a {
			display: flex;
			gap: 1rem;
		}
	}

	.readable {
		max-inline-size: 60ch;

		.tags {
			display: flex;
			gap: 0.5rem;
			flex-wrap: wrap;
			margin: 0;
			margin-block-start: 3rem;
			font-size: 0.8rem;

			li {
				list-style: none;
				background: light-dark(var(--white), var(--grey));
				padding-inline: 0.5rem;
				margin: 0;
			}
		}
	}
}

#fetched-social-data {
	display: none; /* Set to block in JS */

	.likes {
		inline-size: fit-content;
		margin-block: 3rem;
		margin-inline: auto;
		padding-block: 0.5rem;
		padding-inline: 0.75rem;
		background: light-dark(oklch(from var(--red) l c h / calc(alpha - 0.5)), oklch(from var(--red) l c h / calc(alpha - 0.6)));
		font-size: 0.8rem;
		font-weight: bold;

		svg {
			height: 1rem;
			margin-inline-end: 0.5ch;
		}
	}

	.comments-list {
		margin-block-start: 1rem;
		padding-inline: 1rem;

		> .comment-item {
			margin-block-end: 2.5rem;
		}
	}

	.comment-meta {
		margin-block-end: 0.25rem;
		font-size: 0.9em;

		a::after {
			display: none;
		}
	}

	.comment-children {
		margin-block-start: 0.75rem;
		margin-inline-start: 0.5rem;
		padding-block: 0.25rem;
		padding-inline-start: 0.75rem;
		border-left: 2px solid light-dark(var(--white), var(--bright_grey));
	}
}
