article {
	padding-block: 1rem;
	border-block-end: 2px solid var(--bright_grey);

	h2 {
		font-size: 1.2rem;
	}
}

.mood {
	display: inline;
	block-size: 1.3rem;
	vertical-align: text-bottom;
	image-rendering: pixelated;

	@media (prefers-color-scheme: dark) {
		filter: invert(1);
	}
}

.alterations li {
	&::marker {
		font-weight: bold;
	}

	&.added {
		list-style-type: "+ ";
	}

	&.removed {
		list-style-type: "- ";
	}

	p {
		display: inline;
	}
}

.pagination {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
	text-align: center;
	max-inline-size: 65ch;
	margin-block-start: 2rem;

	a {
		padding: 2rem;
	}

	@media (min-width: 26rem) {
		p {
			padding-block: 2rem;
		}
	}

	@media (max-width: 26rem) {
		grid-template-columns: none;
	}
}
