#photography {
	display: grid;
	display: masonry;
	gap: 2rem;

	.photo {
		animation: fade-in-up;
		animation-timeline: view();
		scale: 0.98;
		transition: scale 0.25s;
		margin: auto 0;

		&:hover {
			scale: 1;
		}
	}

	@media (min-width: 30rem) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media (min-width: 60rem) {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (prefers-reduced-motion: no-preference) {
	@keyframes fade-in-up {
		entry 0% {
			transform: translateY(5rem);
			opacity: 0;
		}

		entry 100% {
			transform: translateY(0);
			opacity: 1;
		}
	}
}

.pagination {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
	text-align: center;

	a {
		padding: 2rem;
	}

	@media (min-width: 26rem) {
		p {
			padding-block: 2rem;
		}
	}

	@media (max-width: 26rem) {
		grid-template-columns: none;
	}
}
