figure {
	max-block-size: 75vb;

	img {
		max-block-size: 75vb;
	}

	&:not(.left, .right) {
		padding-inline: 0.5rem;
	}

	.blur {
		filter: blur(2rem);
	}
}

.content {
	display: flex;

	> div {
		padding-block: 1rem;
		padding-inline: 2rem;
	}

	.stats {
		display: flex;
		flex-direction: column;
		gap: 1lh;
		min-inline-size: 30%;
		border-inline-end: 2px solid var(--bright_grey);

		ul {
			margin: 0;

			li {
				list-style: none;
			}
		}

		@media (max-width: 50rem) {
			flex-direction: row;
			justify-content: space-between;
			gap: 3ch;
			border: none;
			border-block-end: 2px solid var(--bright_grey);
		}
	}

	@media (max-width: 50rem) {
		flex-direction: column;

		.readable {
			padding-block-start: 2rem;
		}
	}
}

@media (max-width: 45rem) {
	span.section {
		display: none;
	}
}
