main > div {
	inline-size: 100%;
}

.readable {
	margin-inline: auto;
}

@media (max-width: 45rem) {
	.section {
		position: absolute;
		clip-path: inset(100%);
	}
}

.hero {
	display: flex;
	min-block-size: calc(100vh - 8rem);
	align-items: center;
	background: linear-gradient(light-dark(var(--white), var(--dark_grey)), transparent);
	padding: 2rem;

	@media (max-width: 45rem) {
		margin-block-start: -5rem;
		margin-inline: -0.8rem;
		margin-block-end: 0;
		min-block-size: calc(100vh - 3rem);
	}

	h2 {
		font-size: clamp(1rem, 0.1rem + 9.6vw, 2.8rem);
		font-weight: 600;
		line-height: 1.2;
		display: block;
		margin-block-end: 4rem;
		max-inline-size: 45rem;
		margin-inline: auto;

		> span {
			display: block;
		}

		> span:first-of-type {
			animation: 1s hero-fade;
		}

		> span:nth-of-type(2) {
			animation: 1.2s hero-fade;
		}

		> span:nth-of-type(3) {
			animation: 1.4s hero-fade;
		}

		> span:nth-of-type(4) {
			animation: 1.6s hero-fade;
		}

		.developer {
			background: linear-gradient(light-dark(var(--black), var(--bright_white)), light-dark(var(--blue), var(--yellow)));
			-webkit-text-fill-color: transparent;
			-webkit-background-clip: text;

			&:hover {
				-webkit-text-fill-color: light-dark(var(--bright_white), var(--black));
				-webkit-background-clip: unset;
			}

			&::selection {
				color: light-dark(var(--black), var(--bright_white));
			}
		}

		em {
			display: inline-block;
			font-weight: 200;
			font-style: oblique 13deg;
			transition: font-style 0.15s;
			font-feature-settings: "cswh";

			&:hover {
				font-style: oblique -13deg;
			}
		}

		.without {
			display: inline-block;
			line-height: 0.9;
			border-block-end: dashed 0.5rem var(--magenta);
			transition: border 0.3s;

			&:hover {
				border-block-end: solid 5rem var(--magenta);
			}
		}
	}
}

section:not(.hero) {
	margin-block: 16rem;
	text-align: center;

	h2 {
		display: block;
		text-align: center;
		margin-block-start: 0;
		margin-block-end: 1rem;
	}
}

section.description {
	margin-block-start: 2rem;
	animation: 1.3s hero-fade;
}

@media (prefers-reduced-motion: no-preference) {
	.tools-and-technologies,
	.published-on,
	.testimonials,
	.showcase,
	.contact {
		animation: blur-fade-in-up;
		animation-timeline: view();
		animation-fill-mode: both;
	}

	@keyframes blur-fade-in-up {
		0% {
			transform: translateY(5rem);
			filter: blur(10rem);
			opacity: 0;
			scale: 0.9;
		}

		25% {
			filter: blur(0);
		}

		50% {
			opacity: 1;
			scale: 1;
		}
	}
}

section.tools-and-technologies {
	h2 {
		margin-block: 0;
	}

	.marquee {
		--gap: 2rem;
		display: flex;
		overflow: hidden;
		gap: var(--gap);
		margin-inline: -0.8rem;
		margin-block: 0.5rem;
		position: relative;

		ul {
			flex-shrink: 0;
			display: flex;
			justify-content: space-around;
			min-inline-size: 100%;
			gap: var(--gap);
			margin: 0;
			animation: scroll 180s linear infinite;

			&:dir(rtl) {
				animation-name: scroll-rtl;
			}

			@media (prefers-reduced-motion: reduce) {
				animation-duration: 500s;
			}

			li {
				list-style: none;
			}
		}

		&:hover ul {
			animation-play-state: paused;
		}

		.reverse {
			animation-direction: reverse;
		}

		@media (min-width: 45rem) {
			margin-inline: -3rem;

			&::before,
			&::after {
				content: "";
				position: absolute;
				inline-size: 3rem;
				block-size: 3rem;
				inset-block-start: 0;
				z-index: 10;
			}

			&::before {
				background: linear-gradient(to left, transparent, light-dark(var(--bright_white), var(--black)));
				left: 0;
			}

			&::after {
				background: linear-gradient(to right, transparent, light-dark(var(--bright_white), var(--black)));
				right: 0;
			}
		}
	}
}

@keyframes scroll {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(calc(-100% - var(--gap)));
	}
}

@keyframes scroll-rtl {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(calc(100% - var(--gap)));
	}
}

section.published-on {
	ul {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		align-items: end;
		margin: 0;
		gap: 3rem;

		@media (max-width: 30rem) {
			grid-template-columns: 1fr;
			gap: 1rem;

			svg {
				block-size: 2rem;
				margin-inline: auto;
			}
		}
	}

	li {
		list-style: none;
		transition: 0.1s scale ease-in-out;

		&:hover,
		&:focus-within {
			scale: 1.075;
		}
	}

	a::after {
		display: none;
	}

	p {
		margin-block-start: 1rem;
	}
}

section.testimonials {
	div {
		display: grid;
		gap: 1rem;
		grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
		margin-block-start: 2rem;
	}

	figure {
		background: light-dark(oklch(from var(--white) l c h / 0.6), var(--dark_grey));
		text-align: start;
		margin: 0;
		padding: 2rem;

		q {
			position: relative;

			&::before,
			&::after {
				position: absolute;
				font-size: 3.5rem;
				opacity: 0.15;
			}

			&::before {
				inset-inline-start: -1rem;
			}

			&::after {
				inset-inline-end: -1rem;
				margin-block-start: 0.5rem;
			}
		}

		figcaption {
			text-align: start;
			color: light-dark(var(--black), var(--bright_white));

			img {
				block-size: 3rem;
				float: inline-start;
				margin-inline-end: 0.5rem;
			}

			a {
				display: block;
			}
		}
	}
}

section.showcase {
	.hoisted {
		margin-block-start: 2rem;
	}

	a {
		display: block;
		padding: 2rem;
		text-align: start;
		text-decoration: none;
		margin-block: 1rem;
		background: light-dark(oklch(from var(--white) l c h / 0.3), oklch(from var(--dark_grey) l c h / 0.3));
		border: 0.05rem solid light-dark(transparent, var(--grey));
		position: relative;
		overflow: hidden;
		block-size: fit-content;

		&::before {
			content: "";
			position: absolute;
			inset: 0;
			inset-block-start: 100%;
			background: linear-gradient(transparent, var(--accent));
			z-index: -1;

			@media (prefers-reduced-motion: no-preference) {
				transition: inset-block-start 0.3s ease;
			}
		}

		&:hover::before,
		&:focus::before {
			inset-block-start: 0;
		}

		h3,
		p {
			inline-size: fit-content;
		}
	}
}

@property --s {
	syntax: "<length>";
	initial-value: 30px;
	inherits: true;
}

@property --t {
	syntax: "<length>";
	initial-value: 4px;
	inherits: true;
}

@property --o {
	syntax: "<number>";
	initial-value: -1;
	inherits: true;
}

section.contact {
	position: relative;
	margin-block-end: 6rem;
	padding-block: 4rem;
	padding-inline: calc(var(--t) + 1.5rem);
	transition:
		--s 0.4s ease,
		--o 0.4s ease;

	&::before {
		content: "";
		position: absolute;
		inset: 0;
		padding-block: 4rem;
		padding-inline: calc(var(--t) + 1.5rem);
		outline: var(--t) solid var(--grey);
		outline-offset: calc(var(--o) * var(--t));
		mask:
			conic-gradient(at var(--s) var(--s), #0000 75%, #000 0) 0 0 / calc(100% - var(--s)) calc(100% - var(--s)),
			conic-gradient(#000 0 0) content-box;

		animation: perspective-warp;
		animation-timeline: view();
		animation-fill-mode: both;
	}

	&:has(a:hover) {
		--s: 60px;
		--t: 6px;
		--o: -4;
	}

	a {
		position: relative;
		display: inline-block;
		padding-block: 0.4rem;
		padding-inline: 0.75rem;
		margin-block-start: 2.5rem;
		background: oklch(from var(--grey) l c h / calc(alpha - 0.2));
		color: var(--bright_white);
		text-shadow: 0 0 0.5rem var(--black);
		text-decoration: none;
		font-weight: 600;
		overflow: visible;
		transition: scale 0.1s;

		&::before {
			content: "";
			position: absolute;
			inset-block: -0.5rem;
			inset-inline: -1rem;
			background: linear-gradient(to right, light-dark(var(--yellow), var(--red)), light-dark(var(--green), var(--orange)), light-dark(var(--blue), var(--yellow)));
			filter: blur(1rem);
			z-index: -1;
		}

		&:hover,
		&:focus-visible {
			scale: 1.1;
			filter: contrast(2);
		}
	}
}

@media (prefers-reduced-motion: no-preference) {
	@keyframes perspective-warp {
		0% {
			transform: perspective(60rem) rotateX(100deg);
		}

		70% {
			transform: perspective(60rem) rotateX(0deg);
		}
	}
}

@media (prefers-reduced-motion: no-preference) {
	@keyframes hero-fade {
		0% {
			transform: translateY(3rem);
			opacity: 0;
		}
	}
}
