main > div {
	width: 100%;
}

.readable {
	margin-inline: auto;
}

@media (max-width: 45rem) {
	.section {
		position: absolute;
		clip-path: inset(100%);
	}
}

.hero {
	display: flex;
	min-height: calc(100vh - 8rem);
	align-items: center;
	background: linear-gradient(var(--dark_grey), transparent);
	padding: 2rem;

	@media (max-width: 45rem) {
		margin-block-start: -5rem;
		margin-inline: -0.8rem;
		margin-block-end: 0;
		min-height: calc(100vh - 3rem);
	}

	h2 {
		font-size: clamp(1rem, 0.1rem + 9.6vw, 2.8rem);
		font-weight: 600;
		line-height: 1.2;
		display: block;
		margin-block-end: 4rem;
		max-width: 45rem;
		margin-inline: auto;

		.developer {
			background: -webkit-linear-gradient(var(--bright_white), var(--yellow));
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}

		em {
			font-weight: 200;
		}

		.without {
			text-decoration: underline wavy var(--magenta);
		}
	}
}

section:not(.hero) {
	margin-block: 15rem;
	text-align: center;

	h2 {
		display: block;
		text-align: center;
		margin-block-start: 0;
		margin-block-end: 1rem;
	}
}

section.description {
	margin-block-start: 0;
}

section.tools-and-technologies {
	h2 {
		margin-block: 0;
	}

	.marquee {
		--gap: 2rem;
		display: flex;
		overflow: hidden;
		user-select: none;
		gap: var(--gap);
		margin-inline: -1rem;

		ul {
			flex-shrink: 0;
			display: flex;
			justify-content: space-around;
			min-width: 100%;
			gap: var(--gap);
			margin: 0;
			animation: scroll 180s linear infinite;

			@media (prefers-reduced-motion: reduce) {
				animation-duration: 500s;
			}

			li {
				list-style: none;
			}
		}

		&:hover ul,
		&:focus-visible ul {
			animation-play-state: paused;
		}

		.reverse {
			animation-direction: reverse;
		}
	}
}

section.published-on {
	ul {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		align-items: end;
		margin: 0;
		gap: 3rem;

		@media (max-width: 30rem) {
			grid-template-columns: 1fr;
			gap: 1rem;

			svg {
				height: 1.5rem;
				margin-inline: auto;
			}
		}
	}

	li {
		list-style: none;
		transition: 0.1s scale ease-in-out;

		&:hover,
		&:focus-visible {
			scale: 1.05;
		}
	}

	a::after {
		display: none;
	}

	p {
		margin-block-start: 1rem;
	}
}

section.showcase a {
	display: block;
	padding: 2rem;
	text-align: left;
	text-decoration: none;
	margin-block: 1rem;
	background: light-dark(oklch(from var(--white) l c h / 0.3), oklch(from var(--dark_grey) l c h / 0.3));
	border: 0.05rem solid light-dark(transparent, var(--grey));
	position: relative;
	overflow: hidden;

	&::before {
		content: "";
		position: absolute;
		inset: 100% 0 0 0;
		background: linear-gradient(transparent, var(--accent));
		z-index: -1;

		@media (prefers-reduced-motion: no-preference) {
			transition: top 0.3s ease;
		}
	}

	&:hover::before,
	&:focus::before {
		top: 0;
	}
}

section.contact {
	margin-block-end: 0;
}

@keyframes scroll {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(calc(-100% - var(--gap)));
	}
}
