.section {
	view-transition-name: section;

	@media (max-width: 45rem) {
		display: none;
	}
}

::view-transition-group(section) {
	animation-timing-function: cubic-bezier(0, 1, 0, 1);
	animation-duration: 0.5s;
}

.article-wrapper {
	margin-inline-start: 3rem;
	inline-size: 100%;

	header {
		position: relative;
		display: grid;
		align-content: center;
		font-size: 1.2rem;
		font-weight: 550;
		font-variant-numeric: lining-nums;
		font-variant-caps: titling-caps;
		block-size: calc(90vb - 5rem);

		h1 {
			word-break: break-word;
			font-size: clamp(1.5rem, 0.46rem + 5.2vw, 2.8rem);
			line-height: 1.1;
		}

		h1,
		p {
			inline-size: fit-content;
		}

		&::after {
			content: "";
			position: absolute;
			inset-block-start: 0;
			inline-size: calc(100% + 6rem);
			block-size: calc(100% + 20rem);
			margin-block: -16rem -3rem;
			margin-inline-start: -3rem;
			background: linear-gradient(var(--header_background), transparent);
			z-index: -1;
		}
	}

	@media (max-width: 45rem) {
		margin-inline-start: 0;

		header::after {
			inline-size: calc(100% + 3rem + 0.8rem);
		}
	}
}

.tags,
#repo-details {
	display: flex;
	gap: 0.5rem;
	flex-wrap: wrap;
	margin: 0;
	margin-block-start: 1rem;
	font-size: 0.8rem;

	li {
		list-style: none;
		background: light-dark(var(--white), var(--grey));
		padding-inline: 0.5rem;
		margin: 0;
		text-transform: none;
		font-weight: normal;
	}
}

#repo-details {
	block-size: 1.375rem;

	.stars {
		background: light-dark(oklch(from var(--blue) l c h / calc(alpha - 0.5)), oklch(from var(--blue) l c h / calc(alpha - 0.3)));
	}

	.forks {
		background: light-dark(oklch(from var(--magenta) l c h / calc(alpha - 0.5)), oklch(from var(--magenta) l c h / calc(alpha - 0.4)));
	}

	.contributors {
		background: light-dark(oklch(from var(--yellow) l c h / calc(alpha - 0.4)), oklch(from var(--yellow) l c h / calc(alpha - 0.5)));
	}

	li {
		font-weight: bold;
	}
}
