@media (max-width: 45rem) {
	.section {
		display: none;
	}
}

.article-wrapper {
	margin-inline-start: 3rem;
	width: 100%;

	header {
		position: relative;
		display: grid;
		align-content: center;
		font-size: 1.2rem;
		font-weight: 550;
		font-variant-numeric: lining-nums;
		font-variant-caps: titling-caps;
		height: calc(90vh - 5rem);

		h1,
		p {
			width: fit-content;
		}

		.repo-details {
			margin-block-start: 1rem;

			img {
				display: inline;
			}
		}

		&::after {
			content: "";
			position: absolute;
			top: 0;
			width: calc(100% + 6rem);
			height: calc(100% + 20rem);
			margin-block: -15rem -3rem;
			margin-inline-start: -3rem;
			background: linear-gradient(var(--header_background), transparent);
			z-index: -1;
			view-transition-name: var(--transition_name);
		}
	}

	@media (max-width: 45rem) {
		margin-inline-start: 0;

		header::after {
			width: calc(100% + 3rem + 0.8rem);
		}
	}
}
