@media (max-width: 45rem) {
	.section {
		display: none;
	}
}

.article-wrapper {
	margin-inline-start: 3rem;
	inline-size: 100%;

	header {
		position: relative;
		text-transform: uppercase;
		font-size: 1.2rem;
		margin-block: 10rem 3rem;
		font-weight: 550;
		font-variant-numeric: lining-nums;
		font-variant-caps: titling-caps;

		.stats {
			margin-block-start: 0.3rem;
			margin-inline-start: 0;

			li {
				display: inline;

				&:nth-child(1)::after {
					content: " |" / "";
				}
			}
		}

		&::after {
			content: "";
			position: absolute;
			inset-block-start: 0;
			inline-size: calc(100% + 6rem);
			block-size: calc(100% + 20rem);
			margin-block: -16rem -3rem;
			margin-inline: -3rem 0;
			background: linear-gradient(var(--header_background), transparent);
			z-index: -1;
		}
	}

	@media (max-width: 45rem) {
		margin-inline-start: 0;

		header::after {
			inline-size: calc(100% + 3rem + 0.8rem);
		}
	}
}

.tags {
	display: flex;
	gap: 0.5rem;
	flex-wrap: wrap;
	margin: 0;
	margin-block-start: 1rem;
	font-size: 0.8rem;

	li {
		list-style: none;
		background: light-dark(var(--white), var(--grey));
		padding-inline: 0.5rem;
		margin: 0;
		text-transform: none;
		font-weight: normal;
	}
}

.support {
	font-size: 0.9rem;
	background: light-dark(oklch(from var(--green) l c h / calc(alpha - 0.7)), oklch(from var(--green) l c h / calc(alpha - 0.8)));
	padding: 2rem;
	margin-block-start: 5rem;
	max-inline-size: 83ch;

	h2 {
		font-size: 1.4rem;
	}

	a {
		display: block;
		width: fit-content;
		margin-inline-start: auto;
		padding-block: 0.3rem;
		padding-inline: 0.75rem;
		background: light-dark(var(--white), var(--grey));
		text-decoration: none;
		font-weight: bold;
	}
}
