main > div {
	max-width: 80rem;
}

#refine-posts {
	display: none; /* Set to flex with JS */
	gap: 2rem;
	margin-block-end: 2rem;
	padding-block-end: 1rem;
	border-block-end: 2px solid var(--bright_grey);

	.filter,
	.sort {
		flex: 1;
		min-width: fit-content;
	}

	select {
		inline-size: 100%;

		&:focus-within,
		&:hover {
			border-color: var(--blue);
		}
	}

	@media (max-width: 60rem) {
		gap: 1rem;
	}

	@media (max-width: 25rem) {
		flex-direction: column;
		gap: 1rem;
	}
}

#posts {
	display: grid;
	gap: 1.5rem;
	margin: 0;

	.post {
		position: relative;
		display: flex;
		flex-direction: column;
		border-block-end: 2px solid var(--bright_grey);
		padding-block-end: 0.5rem;
		margin-block: 0;
		text-decoration: none;
		text-transform: uppercase;
		font-variant-numeric: lining-nums;
		font-variant-caps: titling-caps;

		animation: fade-in-up;
		animation-timeline: view();
		animation-fill-mode: both;

		&:focus,
		&:hover {
			border-color: var(--blue);
		}

		p {
			order: -1;
		}

		h2 {
			position: static;
		}

		a {
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			text-overflow: ellipsis;
			overflow: hidden;
			outline: none;
			text-decoration-color: var(--blue);

			&::after {
				content: "";
				display: block;
				position: absolute;
				inset: 0;
			}

			&:focus-visible::after {
				outline: 2px solid var(--blue);
				margin-inline: -0.5rem;
			}
		}

		ul {
			display: flex;
			flex-wrap: wrap;
			margin: 0;
			gap: 0.3rem;

			li {
				margin: 0;
				list-style: none;

				&:nth-child(1)::after {
					content: " |" / "";
				}
			}
		}
	}

	@media (min-width: 60rem) {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (prefers-reduced-motion: no-preference) {
	@keyframes fade-in-up {
		entry 0% {
			transform: translateY(5rem);
			opacity: 0;
		}

		entry 100% {
			transform: translateY(0);
			opacity: 1;
		}
	}
}
