.readable {
	inline-size: 100%;
	max-inline-size: 90ch;
}

.no-js-search {
	display: flex;
	flex-wrap: wrap;
	margin-block-start: 1rem;

	label {
		inline-size: 100%;
	}

	input {
		flex: 1;
	}

	button {
		flex: 0;
	}
}

.search-results {
	display: flex;
	gap: 1rem;
	margin-block-start: 1.5rem;

	@media (max-width: 45rem) {
		flex-direction: column;
	}
}

main {
	--pf-text: light-dark(var(--black), var(--bright_white));
	--pf-text-secondary: light-dark(var(--black), var(--bright_white));
	--pf-text-muted: light-dark(var(--black), var(--bright_white));
	--pf-background: light-dark(var(--white), var(--grey));
	--pf-border: none;
	--pf-skeleton: light-dark(var(--bright_white), var(--black));
	--pf-skeleton-shine: light-dark(var(--white), var(--grey));

	--pf-error-bg: light-dark(var(--red), var(--dark_grey));
	--pf-error-border: var(--red);
	--pf-error-text: light-dark(var(--black), var(--red));
	--pf-error-text-secondary: light-dark(var(--black), var(--red));

	--pf-outline-focus: var(--blue);

	--pf-font: "Work Sans", sans-serif;

	--pf-input-height: 2rem;
	--pf-input-font-size: 1rem;
	--pf-summary-font-size: 0.9rem;
	--pf-result-title-font-size: 0.9rem;
	--pf-result-excerpt-font-size: 0.9rem;

	--pf-border-radius: 0;
}

.pf-filter-pane {
	gap: 0.75rem !important;
	padding: 0 !important;

	.pf-filter-group {
		padding-block: 0.5rem !important;
		padding-inline: 0.75rem !important;
		background: light-dark(oklch(from var(--white) l c h), oklch(from var(--dark_grey) l c h)) !important;
		border: 0.05rem solid light-dark(transparent, var(--grey)) !important;
	}

	@media (min-width: 25rem) and (max-width: 45rem) {
		flex-direction: row !important;

		.pf-filter-group {
			inline-size: 100% !important;
		}
	}

	.pf-filter-group-title {
		font-size: 0.9rem !important;
		text-transform: none !important;
		color: var(--pf-text) !important;

		&::before {
			background-color: var(--pf-text) !important;
		}
	}

	.pf-filter-group-count {
		display: none !important;
	}

	.pf-filter-checkbox {
		font-size: 0.8rem !important;
	}

	.pf-checkbox-input {
		accent-color: var(--blue) !important;
	}
}

.pf-summary {
	font-size: small !important;
	font-style: italic !important;
	padding-inline: 0.5rem !important;
}

.pf-results {
	font-size: 0.9rem !important;
	color: var(--pf-text) !important;

	> li {
		margin: 0;
		padding-block: 0.75rem;
		padding-inline: 0.5rem;
		list-style: none;
		border-bottom: 2px solid light-dark(var(--white), var(--bright_grey));

		.result {
			position: relative;
		}

		p a,
		ul li a {
			display: block;
			text-transform: uppercase;
			font-weight: bold;
			text-decoration: none;

			&::before {
				content: "";
				position: absolute;
				inset: 0;
			}
		}

		ul {
			margin-inline-start: 1rem;
		}

		ul li {
			position: relative;
			margin: 0;
			padding-block: 0.5rem;
			list-style-type: "↳ ";

			p {
				margin: 0;
			}
		}
	}
}

/* Skeletons */
.pf-result-card {
	background: none !important;
}
