h1 {
	font-size: 2rem;
	line-height: 2.5rem;
}

article header {
	margin-block: 3rem;
	text-transform: uppercase;
	font-weight: 550;
	font-variant-numeric: lining-nums;
	font-variant-caps: titling-caps;
}

@media (min-width: 60rem) {
	article:has(.short) {
		display: flex;
		gap: 3rem;
	}
}

youtube-embed {
	display: grid;
	place-items: center;
	background-size: cover;
	cursor: pointer;

	button {
		font-size: 18px;
		padding-block: 0.5rem;
		padding-inline: 1rem;
		background: oklch(from light-dark(var(--white), var(--grey)) l c h / calc(alpha - 0.3));
		backdrop-filter: blur(0.75rem);
		box-shadow: 0 0 2rem oklch(from var(--black) l c h / calc(alpha - 0.5));
	}
}

.short {
	block-size: 80vb;
	max-inline-size: 100%;
	aspect-ratio: 9 / 16;
	margin-inline: auto;

	@media (min-width: 60rem) {
		position: sticky;
		inset-block-start: 5rem;
	}
}

.long {
	inline-size: 100%;
	aspect-ratio: 16 / 9;
}

iframe {
	width: 100%;
	height: 100%;
}

.tags {
	display: flex;
	gap: 0.5rem;
	flex-wrap: wrap;
	margin: 0;
	margin-block-start: 1rem;
	font-size: 0.8rem;

	li {
		list-style: none;
		background: light-dark(var(--white), var(--grey));
		padding-inline: 0.5rem;
		margin: 0;
		text-transform: none;
	}
}

@media (max-width: 45rem) {
	span.section {
		display: none;
	}
}
