.readable {
	margin-block-end: 2rem;
}

#videos {
	display: grid;
	max-inline-size: 80rem;
	gap: 3rem 2rem;

	.short img {
		block-size: 25rem;
		background: var(--dark_grey);
		inline-size: 100%;
		object-fit: contain;
	}

	@media (min-width: 35rem) {
		grid-template-columns: repeat(2, 1fr);

		.short img,
		.long img {
			block-size: 9.5rem;
			inline-size: 100%;
		}

		.long img {
			object-fit: cover;
		}
	}

	@media (min-width: 55rem) {
		grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));

		.short img,
		.long img {
			block-size: 12rem;
		}

		.long {
			grid-column: span 2;
		}
	}

	.video {
		text-decoration: none;

		img {
			margin-block-end: 0.5rem;
		}

		h2 {
			font-size: 1rem;
			line-height: 1.4rem;
		}
	}
}

.pagination {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
	text-align: center;
	max-width: 75ch;

	a {
		padding: 2rem;
	}

	@media (min-width: 26rem) {
		p {
			padding-block: 2rem;
		}
	}

	@media (max-width: 26rem) {
		grid-template-columns: none;
	}
}
