.footnote-reference {
	a {
		padding: 0.25rem;
		margin: -0.25rem;

		&::after {
			content: none;
		}
	}
}

.footnote-popover {
	display: none;
	position: absolute;
	border: 2px solid light-dark(var(--white), var(--bright_grey));
	background: light-dark(var(--bright_white), var(--black));
	padding: 1rem;
	z-index: 1000;
	font-size: initial;
	line-height: initial;

	.footnote-definition-label::before {
		content: "Footnote ";
	}
}

.footnote-definition {
	display: flex;
	margin-bottom: 0.5rem;
	padding: 0.5rem;

	.footnote-definition-label {
		padding-right: 1rem;
		border-right: 2px solid light-dark(var(--white), var(--bright_grey));
		font-size: 1rem;
	}

	p {
		padding-left: 1rem;
		margin-bottom: 0;
	}
}

.footnote-reference .highlight,
.sidenote.highlight {
	outline: 2px solid var(--blue);
}

.sidenote {
	display: none;
}

@media (min-width: 90rem) {
	.sidenote {
		display: block;
		position: absolute;
		left: 65rem;
		right: 3rem;
		max-width: 40rem;
		font-size: 0.8rem;
		line-height: 1.2rem;
		color: light-dark(var(--grey), var(--white));
		padding: 0.5rem 1rem;
		transition: background-color 0.25s;

		p {
			border-top: 1px solid light-dark(var(--white), var(--bright_grey));
			padding-top: 0.25rem;
		}
	}
}
