button,
select,
input,
textarea {
	color: var(--bright_white);
	padding: 0.2rem 0.5rem;
	background: var(--grey);
	border: none;
	border-radius: 0;
	text-overflow: ellipsis;
	-webkit-appearance: none;
}

button,
select {
	cursor: pointer;
}

textarea {
	display: block;
}

::placeholder {
	opacity: 1;
	color: var(--white);
}

*:focus {
	outline: var(--blue) solid 2px;
	color: var(--blue);
}
