body {
	min-height: 100lvh;
	margin: 0 3rem 3rem;
	color: light-dark(var(--black), var(--bright_white));
	background: light-dark(var(--bright_white), var(--black));
}

main {
	margin-top: 5rem;
	display: flex;
	gap: 3rem;

	div {
		width: 100%;
	}
}

@media (max-width: 700px) {
	body {
		margin: 0 0.8rem 0.8rem;
	}

	main {
		flex-direction: column;
		gap: 0;
	}
}
