code {
	font-family: "Fira Code", monospace;
	border: 2px solid light-dark(var(--white), var(--grey));
	padding: 0 0.2rem;
}

pre {
	width: 100%;
	overflow-x: auto;
	background: var(--black);
	border: 2px solid light-dark(var(--white), var(--grey));
	padding: 0.8rem;
	line-height: 150%;

	code {
		padding: 0;
		border: none;
		tab-size: 4;
		counter-reset: step;
	}

	.line {
		&:hover {
			background: var(--grey);
		}

		&::before {
			content: counter(step);
			counter-increment: step;
			position: sticky;
			left: -0.8rem;
			display: inline-block;
			margin-left: -0.8rem;
			padding: 0 0.8rem;
			width: 3.5rem;
			color: var(--white);
			background: var(--black);
			text-align: right;
		}
	}
}
