a {
	color: inherit;
	text-decoration: underline 0.1rem light-dark(var(--cyan), var(--blue));
	-webkit-text-decoration-line: underline;
	-webkit-text-decoration-color: light-dark(var(--cyan), var(--blue));
	text-decoration-skip-ink: none;
	text-underline-offset: 0.2rem;
}

a:hover,
a:active {
	text-decoration-thickness: 0.7rem;
	text-underline-offset: -0.4rem;
}

a:after {
	font-family: "Material Symbols";
	font-size: 0.8rem;
	display: inline-block;
	line-height: 0;
}

a[href^="#"]:after {
	content: "arrow_downward";
}

a[href^="mailto"]:after {
	content: "mail";
}

a[href]:not([href*="vale.rocks"]):not([href^="/"]):not([href^="#"]):not([href^="mailto"]):after {
	content: "arrow_outward";
}
