#services {
	section {
		border-bottom: 2px solid var(--bright_grey);
		padding: 0.5rem 0;
	}

	h2 {
		margin: 0;
	}

	p {
		text-transform: uppercase;
		margin: 0;
	}

	p#description {
		text-transform: none;
	}
}
