header#navbar {
	height: 5rem;
	width: 100%;
	padding: 0 3rem;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 1rem;
	position: fixed;
	top: 0;
	left: 0;
	text-transform: uppercase;
	font-size: 1.3rem;
	pointer-events: none;
	z-index: 1000;

	#navlanding {
		font-weight: 500;
	}

	a {
		all: unset;
		cursor: pointer;
		pointer-events: all;
	}

	nav {
		ul {
			all: unset;
			display: flex;
			gap: 1rem;

			li {
				all: unset;
			}
		}
	}
}

header#navbar::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(var(--black), transparent);
	z-index: -1;
}

@media (max-width: 700px) {
	header#navbar {
		padding: 0 0.8rem;
	}
}
