code,
kbd {
	font-family: "Fira Code", monospace;
	border: 2px solid light-dark(var(--white), var(--grey));
	padding: 0 0.2rem;
	font-size: 0.9rem;
}

.code-block-wrapper {
	position: relative;

	.copy-button {
		position: absolute;
		right: 0;
		top: 0;
	}

	pre {
		padding-right: 3rem;
	}
}

pre {
	overflow-x: auto;
	background: var(--black);
	color: var(--bright_white);
	border: 2px solid light-dark(var(--white), var(--grey));
	padding: 0.8rem;
	line-height: 150%;

	code {
		display: inline-block;
		padding: 0;
		min-width: 100%;
		border: none;
		tab-size: 4;
		counter-reset: step;
		background: inherit;
	}

	@media (max-width: 45rem) {
		max-width: 100%;
	}
}

.hljs-comment {
	color: var(--white);
	font-style: italic;
}

.hljs-selector-tag,
.hljs-built_in,
.hljs-meta,
.hljs-property,
.hljs-name,
.hljs-type {
	color: var(--bright_blue);
}

.hljs-tag,
.hljs-selector-class {
	color: var(--blue);
}

.hljs-title,
.hljs-title.function_,
.hljs-selector-pseudo{
	color: var(--cyan);
}

.hljs-string,
.hljs-regexp {
	color: var(--bright_green);
}

.hljs-number,
.hljs-literal {
	color: var(--bright_magenta);
}

.hljs-title.class_,
.hljs-attr,
.hljs-attribute {
	color: var(--yellow);
}

.hljs-symbol,
.hljs-bullet {
	color: var(--magenta);
}

.hljs-keyword,
.hljs-meta-keyword {
	color: var(--red);
}

.hljs-template-variable {
	color: var(--bright_green);
}

.hljs-addition {
	background: oklch(from var(--green) l c h / calc(alpha - 0.7));
}

.hljs-deletion {
	background: oklch(from var(--red) l c h / calc(alpha - 0.7));
}
