code,
kbd {
	font-family: "Fira Code", monospace;
	border: 2px solid light-dark(var(--white), var(--grey));
	padding: 0 0.2rem;
}

pre {
	overflow-x: auto;
	background: var(--black);
	color: var(--bright_white);
	border: 2px solid light-dark(var(--white), var(--grey));
	padding: 0.8rem;
	line-height: 150%;

	code {
		display: inline-block;
		padding: 0;
		min-width: 100%;
		border: none;
		tab-size: 4;
		counter-reset: step;
		background: inherit;
	}

	@media (max-width: 45rem) {
		max-width: 100%;
	}
}
