a,
.footnote-button {
	color: inherit;
	text-decoration: underline 0.08rem light-dark(var(--cyan), var(--blue));
	-webkit-text-decoration-line: underline;
	-webkit-text-decoration-color: light-dark(var(--cyan), var(--blue));
	text-decoration-skip-ink: none;
	text-underline-offset: 0.25rem;
	word-break: break-word;

	&:hover,
	&:active {
		text-decoration-thickness: 0.6rem;
		text-underline-offset: -0.29rem;
	}

	&::after {
		line-height: 0;
	}

	&[href^="#"]::after {
		content: "\00A0↕" / "Anchor";
		font-size: 0.7rem;
	}

	&[href]:not([href*="vale.rocks"], [href^="/"], [href^="#"])::after,
	&.footer-tools::after {
		content: "\00A0↗" / "External";
		font-size: 0.8rem;
	}

	abbr {
		text-decoration-color: light-dark(var(--bright_white), var(--black));
	}
}

.adaptive-icon {
	fill: light-dark(var(--black), #fff);
}
