/* Fonts preloaded in head */
/* https://clagnut.com/blog/2433 */

@font-face {
	font-family: "Work Sans";
	src: url("/assets/typefaces/WorkSans.woff2") format("woff2");
	font-weight: 400 800;
	font-display: swap;
}

@font-face {
	font-family: "Work Sans";
	src: url("/assets/typefaces/WorkSans-Italic.woff2") format("woff2");
	font-weight: 400 800;
	font-display: swap;
	font-style: italic;
}

@font-face {
	font-family: "Fira Code";
	src: url("/assets/typefaces/FiraCode.woff2") format("woff2");
	font-weight: 300 700;
	font-display: swap;
	size-adjust: 90%;
}

body {
	font-family: "Work Sans", sans-serif;
	font-variant-numeric: oldstyle-nums proportional-nums;
	font-weight: 430;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	position: relative;
	display: flex;
	font-weight: 700;
	text-transform: uppercase;
	font-variant-caps: titling-caps;
	font-feature-settings: "ss03" on;
	text-wrap: balance;
	clear: both;

	a::after {
		display: none;
	}

	&:has(button) a:not(:hover) {
		text-decoration: none;
	}

	button {
		background: transparent;
		color: var(--bright_grey);
		font-size: smaller;
		padding-block: 0;
		margin-inline-start: auto;
		transition: scale 0.25s;

		&:not(:hover, .copied, .error) {
			scale: 0.9;
		}

		&:hover {
			background: transparent;
			color: light-dark(var(--black), var(--bright_white));
		}

		&.copied {
			color: var(--green);
		}

		&.error {
			color: var(--red);
		}
	}

	@media (hover: hover) and (min-width: 45rem) {
		button {
			visibility: hidden;
			position: absolute;
			inset-inline-start: calc(-1ch + -0.8rem);
		}

		&:hover button,
		&:focus-within button,
		button:hover,
		button:focus-within {
			visibility: visible;
		}
	}
}

h1 {
	font-size: 2.8rem;
	line-height: 1;
}

h2 {
	font-size: 1.8rem;
}

h3 {
	font-size: 1.2rem;
}

h5 {
	font-size: 0.8rem;
}

h6 {
	font-size: 0.6rem;
}

.section {
	margin-block-end: 1.5rem;
	display: block;
}

@media (min-width: 45rem) {
	.section {
		font-size: 5rem;
		line-height: 4rem;
		font-weight: 800;
		letter-spacing: 0.03rem;
		text-transform: uppercase;
		text-align: right;
		transform: scale(-1);
		writing-mode: vertical-lr;
		user-select: none;
		-webkit-user-select: none;
		margin: 0;
		block-size: 4rem;
	}

	.sidebar {
		display: flex;
		flex-direction: column;
		gap: 10rem;
	}
}

.readable,
blockquote,
details {
	max-inline-size: 75ch;
	text-wrap: pretty;

	* + h2,
	* + h3,
	* + h4,
	* + h5,
	* + h6 {
		margin-block-start: 2rem;
	}

	* + hr {
		margin-block: 2rem;
	}

	> * + * {
		margin-block-start: 1rem;
	}
}

details {
	background: light-dark(oklch(from var(--white) l c h / 0.3), oklch(from var(--dark_grey) l c h / 0.3));
	border: 0.05rem solid light-dark(transparent, var(--grey));

	summary {
		padding-block: 0.5rem;
		padding-inline: 1rem;
		background: light-dark(var(--white), var(--dark_grey));
	}

	&[open]::details-content {
		padding: 1rem;
		padding-block-start: 0;
	}
}

blockquote,
.markdown-alert {
	--alert-accent: var(--grey);
	padding-block: 0.5rem;
	padding-inline: 1rem;
	background: light-dark(oklch(from var(--white) l c h / 0.3), oklch(from var(--dark_grey) l c h / 0.3));
	border: 0.05rem solid light-dark(transparent, color-mix(var(--alert-accent) 20%, var(--grey)));
	border-inline-start: 0.3rem solid var(--alert-accent);
}

.markdown-alert > * + * {
	margin-block-start: 0.5rem;
}

.markdown-alert-title {
	display: flex;
	gap: 1ch;
	align-items: center;
	color: var(--alert-accent);
}

.markdown-alert-note {
	--alert-accent: var(--blue);
}

.markdown-alert-tip {
	--alert-accent: var(--green);
}

.markdown-alert-important {
	--alert-accent: var(--magenta);
}

.markdown-alert-warning {
	--alert-accent: var(--orange);
}

.markdown-alert-caution {
	--alert-accent: var(--red);
}

ul,
ol {
	line-height: 1.4rem;
	margin-inline-start: 2rem;
}

li {
	margin-block: 0.75rem;

	> * + * {
		margin-block-start: 0.5rem;
	}

	&::marker {
		font-size: 0.9rem;
	}
}

ul li {
	list-style-type: "✦ ";

	li {
		list-style-type: "✧ ";

		li {
			list-style-type: "⬥ ";

			li {
				list-style-type: "⬦ ";
			}
		}
	}
}

ol {
	counter-reset: item;

	> li {
		counter-increment: item;

		&::marker {
			content: counters(item, ".") ". ";
		}
	}
}

dl > dd + dt {
	margin-block-start: 1.5rem;
}

dt {
	font-weight: bold;
	word-wrap: anywhere;
}

dd {
	font-style: italic;
	margin-inline-start: 1rem;
}

kbd {
	border-bottom-width: 4px;
	padding-inline: 0.4rem;
}

hr {
	height: 2px;
	border: none;
	background: var(--bright_grey);
}

mark {
	background: var(--yellow);
	margin-inline: -0.2rem;
	padding-inline: 0.2rem;
}
