/* Fonts preloaded in head */
/* https://clagnut.com/blog/2433 */

@font-face {
	font-family: "Lexend";
	src: url("/assets/typefaces/Lexend/Lexend-VariableFont_wght.woff2") format("woff2");
	font-weight: 100 900;
	font-display: fallback;
}

@font-face {
	font-family: "Fira Code";
	src: url("/assets/typefaces/Fira_Code/FiraCode-VariableFont_wght.woff2") format("woff2");
	font-weight: 300 700;
	size-adjust: 90%;
}

@font-face {
	font-family: "Material Symbols";
	src: url("/assets/typefaces/Material_Symbols_Sharp/MaterialSymbolsSharp-Regular.woff2") format("woff2");
}

.icons {
	font-family: "Material Symbols";
	user-select: none;
}

body {
	font-family: "Lexend", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-transform: uppercase;
	text-wrap: balance;
	font-weight: 700;
	position: relative;
	display: flex;

	a {
		&:not(:hover) {
			text-decoration: none;
		}

		&::after {
			display: none;
		}
	}

	button {
		color: var(--bright_grey);
		background: none;
		font-size: smaller;
		line-height: 0;
		padding: 0 1rem;

		&:hover {
			color: light-dark(var(--black), var(--bright_white));
		}

		&.copied {
			color: var(--green);
		}

		&.error {
			color: var(--red);
		}
	}

	@media (hover: hover) and (min-width: 45rem) {
		button {
			display: none;
			position: absolute;
			top: 0;
			left: -2.5rem;
			line-height: normal;
		}

		&:hover button,
		&:focus-within button,
		button:hover {
			display: inherit;
		}
	}
}

h1 {
	font-size: 3rem;
	line-height: 3.2rem;
	display: block;
}

h2 {
	font-size: 1.8rem;
	line-height: 2rem;
}

h3 {
	font-size: 1.2rem;
	line-height: 1.4rem;
}

h4 {
	font-size: 1rem;
}

h5 {
	font-size: 0.8rem;
	line-height: 1rem;
}

h6 {
	font-size: 0.6rem;
	line-height: 0.8rem;
}

.section {
	margin-bottom: 1.5rem;
}

@media (min-width: 45rem) {
	.section {
		font-size: 5rem;
		line-height: 4rem;
		font-weight: 900;
		text-transform: uppercase;
		text-align: right;
		transform: scale(-1);
		writing-mode: vertical-lr;
		user-select: none;
		-webkit-user-select: none;
		margin: 0;
		width: 4rem;
	}

	.sidebar {
		display: flex;
		flex-direction: column;
		gap: 10rem;
	}
}

.readable-width,
blockquote {
	max-width: 80ch;

	* + h2,
	* + h3,
	* + h4,
	* + h5,
	* + h6 {
		margin-block-start: 2rem;
	}

	> * + * {
		margin-block-start: 1rem;
	}
}

.markdown-alert > * + * {
	margin-block-start: 0.5rem;
}

blockquote,
.markdown-alert {
	padding: 0.5rem 1rem;
	background: light-dark(oklch(from var(--white) l c h / 0.3), oklch(from var(--dark_grey) l c h / 0.3));
	border: 0.05rem solid light-dark(transparent, var(--grey));
	border-left: 0.3rem solid var(--grey);
}

.markdown-alert-title {
	display: flex;
	gap: 1ch;
	align-items: center;
}

.markdown-alert-note {
	border-left-color: var(--blue);

	.markdown-alert-title {
		color: var(--blue);
		fill: var(--blue);
	}
}

.markdown-alert-tip {
	border-left-color: var(--green);

	.markdown-alert-title {
		color: var(--green);
		fill: var(--green);
	}
}

.markdown-alert-important {
	border-left-color: var(--magenta);

	.markdown-alert-title {
		color: var(--magenta);
		fill: var(--magenta);
	}
}

.markdown-alert-warning {
	border-left-color: var(--orange);

	.markdown-alert-title {
		color: var(--orange);
		fill: var(--orange);
	}
}

.markdown-alert-caution {
	border-left-color: var(--red);

	.markdown-alert-title {
		color: var(--red);
		fill: var(--red);
	}
}

ul,
ol {
	line-height: 1.4rem;
	margin-left: 2rem;
}

li {
	margin: 0.5rem 0;
}

ul li {
	list-style-type: "✦ ";

	li {
		list-style-type: "✧ ";

		li {
			list-style-type: "⬥ ";

			li {
				list-style-type: "⬦ ";
			}
		}
	}
}

ul:has(input) {
	margin-left: 1rem;

	li {
		display: flex;
		align-items: center;
		list-style: none;
	}
}

dl {
	> dd + dt {
		margin-block-start: 1.5rem;
	}
}

dt {
	font-weight: bold;
	word-wrap: anywhere;
}

dd {
	font-style: italic;
	margin-left: 1rem;
}

sup,
sub {
	line-height: 100%;
}

abbr {
	font-variant-caps: all-small-caps;
	text-decoration: none;
	font-size: 110%;
}

kbd {
	border-bottom-width: 4px;
	padding: 0 0.4rem;
}

hr {
	all: unset;
	display: block;
	height: 2px;
	background: var(--bright_grey);
	margin-bottom: 1rem;
}

mark {
	background: var(--yellow);
}
