#refine-posts {
	display: none; /* Set to flex with JS */
	gap: 1rem;
	margin-bottom: 1rem;

	input,
	select {
		background: none;
		border-bottom: 2px solid var(--bright_grey);
		padding: 0.2rem 0;

		&:focus,
		&:hover {
			border-color: var(--blue);
		}
	}

	input {
		flex: 1;
	}
}

#post-items {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 2rem;

	.post {
		border-bottom: 2px solid var(--bright_grey);
		height: 8.5rem;
		padding: 0.5rem 0;
		text-decoration: none;
		transition: 0.15s;

		&:focus,
		&:hover {
			color: var(--blue);
			border-color: var(--blue);
		}

		h2 {
			font-size: 1.8rem;
			margin: 0;
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			text-overflow: ellipsis;
			overflow: hidden;
		}

		p {
			margin: 0;
			text-transform: uppercase;
		}

		.info p {
			display: inline;

			&:nth-child(1)::after {
				content: " |";
			}

			&:nth-child(3)::before {
				content: "- ";
			}
		}
	}
}

@media (min-width: 60rem) {
	#post-items {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (min-width: 90rem) {
	#post-items {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (max-width: 1000px) {
	#post-items {
		flex-direction: column;

		.post {
			height: auto;

			h2 {
				display: initial;
			}
		}
	}
}
