footer {
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
}

footer a:link,
footer a:visited,
footer a:hover,
footer a:active {
	color: var(--yellow);
	text-decoration: none;
	padding: 0 0.5rem;
}
