@media (max-width: 45rem) {
	#section {
		display: none;
	}
}

.article-wrapper {
	margin-left: 3rem;
	width: 100%;

	header {
		position: relative;
		text-transform: uppercase;
		font-size: 1.2rem;
		margin: 10rem 0 3rem 0;

		ul {
			all: unset;

			li {
				display: inline;
				margin-left: 0;

				&:nth-child(1)::after {
					content: " |";
				}

				&:nth-child(3)::before {
					content: "- ";
				}
			}
		}

		.repo-details {
			margin-top: 1rem;

			img {
				display: inline;
			}
		}

		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: calc(100% + 6rem);
			height: calc(100% + 20rem);
			margin: -15rem 0 -3rem -3rem;
			background: linear-gradient(var(--header_background), transparent);
			z-index: -1;
		}
	}

	@media (max-width: 45rem) {
		margin-left: 0;

		header::after {
			width: calc(100% + 3rem + 0.8rem);
		}
	}
}
