.callout {
	padding: 0.2rem 1rem;
	display: block;
	white-space: pre-line;
	border-left: 0.2rem solid var(--grey);
	margin-bottom: 0.8rem;
}

.note {
	border-color: var(--blue);
}

.note::before {
	content: "󰋽  Note";
	color: var(--blue);
}

.warning {
	border-color: var(--orange);
}

.warning::before {
	content: "󰀪  Warning";
	color: var(--orange);
}
