code {
	font-family: "Fira Code", monospace;
	border: 2px solid light-dark(var(--white), var(--grey));
	padding: 0 0.2rem;
}

pre {
	width: 100%;
	overflow-x: scroll;
	background: var(--black);
	color: var(--_white);
	border: 2px solid light-dark(var(--white), var(--grey));
	padding: 0.8rem;
	line-height: 150%;

	code {
		padding: 0;
		border: none;
		tab-size: 4;
		counter-reset: step;
	}

	.line::before {
		content: counter(step);
		counter-increment: step;
		width: 1rem;
		margin-right: 1.5rem;
		display: inline-block;
		text-align: right;
	}
}
