pre {
	overflow-x: scroll;
	white-space: pre;
	display: inline-block;
	padding: 0.8rem;
	width: 100%;
	background: light-dark(var(--bright_grey), var(--grey));
}

code {
	font-family: "Fira Code", monospace;
	background: light-dark(var(--bright_grey), var(--grey));
	color: var(--bright_white);
	padding: 0 0.2rem;
	overflow: inherit;
	tab-size: 4;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
}

pre code {
	background: none;
}
