code {
	font-family: "Fira Code", monospace;
	border: 2px solid light-dark(var(--white), var(--grey));
	padding: 0 0.2rem;
}

pre {
	max-width: calc(100vw - 16rem); /*Icky but I don't even know anymore*/
	overflow-x: auto;
	background: var(--black);
	color: var(--bright_white);
	border: 2px solid light-dark(var(--white), var(--grey));
	padding: 0.8rem;
	line-height: 150%;

	code {
		display: inline-block;
		padding: 0;
		min-width: 100%;
		border: none;
		tab-size: 4;
		counter-reset: step;
		background: inherit;
	}

	.line {
		display: inline-block;
		width: 100%;
		background: inherit;

		&:hover {
			background: var(--grey);
		}

		&::before {
			content: counter(step);
			counter-increment: step;
			position: sticky;
			left: -0.8rem;
			display: inline-block;
			margin-left: -0.8rem;
			padding: 0 0.8rem;
			width: 3.5rem;
			color: var(--white);
			background: inherit;
			text-align: right;
		}
	}
}

@media (max-width: 700px) {
	pre {
		max-width: 100%;
	}
}
