a {
	color: inherit;
	text-decoration: underline 0.1rem light-dark(var(--cyan), var(--blue));
	-webkit-text-decoration-line: underline;
	-webkit-text-decoration-color: light-dark(var(--cyan), var(--blue));
	text-decoration-skip-ink: none;
	text-underline-offset: 0.2rem;

	&:hover,
	&:active {
		text-decoration-thickness: 0.7rem;
		text-underline-offset: -0.37rem;
	}

	&::after {
		font-family: "Material Symbols";
		font-size: 0.8rem;
		display: inline-block;
		line-height: 0;
	}

	&[href^="#"]:after {
		content: "swap_vert" / "Anchor";
	}

	&&[href]:not([href*="vale.rocks"], [href^="/"], [href^="#"])::after {
		content: "arrow_outward" / "External";
	}
}
