body {
	font-family: "Lexend", sans-serif;
}

p {
	margin-bottom: 0.8rem;
}

.readable-width {
	max-width: 80ch;
}

blockquote {
	padding: 0.5rem 1rem;
	background: light-dark(var(--white), var(--dark_grey));
	border-left: 0.2rem solid var(--grey);
	margin-bottom: 0.8rem;

	p {
		margin: 0;
	}
}

li {
	list-style-position: inside;
	line-height: 1.4rem;
	margin-bottom: 0.3rem;
}

abbr,
kbd {
	font-variant-caps: all-small-caps;
}

::selection {
	background: var(--blue);
}
