a {
	color: inherit;
	text-decoration: underline 0.25rem var(--blue);
	text-decoration-skip-ink: none;
	text-underline-offset: -0.1rem;
}

a:hover,
a:active {
	text-decoration-thickness: 0.65rem;
	text-underline-offset: -0.5rem;
}

a:not([href*="vale.rocks"]):not([href^="#"]):not([href^="/"]):not([href*="mailto"]):not([href*="tel"]):not([name]):after {
	content: "󰏌 ";
	margin-left: 0.1rem;
	font-size: 0.5rem;
	display: inline-block;
	vertical-align: super;
	line-height: 0;
}
