input,
button,
textarea,
select {
	color: var(--bright_white);
	-webkit-text-fill-color: var(--bright_white);
	padding: 2px 0;
	margin: 4px 0;
	background: var(--grey);
	border: none;
	border-radius: 0;
	text-overflow: ellipsis;
	appearance: none;
	-webkit-appearance: none;
}

input[type="search"],
select {
	margin: 1rem 0;
	background: none;
	border-bottom: 2px solid var(--bright_grey);
}

input[type="search"]::focus {
	outline: none;
	border-bottom: 2px solid var(--orange);
}
