#books {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 0.5rem;
	max-width: 90rem;
	margin-left: 0;

	@media (min-width: 30rem) {
		grid-template-columns: repeat(2, 1fr);
		gap: 2rem;
	}

	@media (min-width: 60rem) {
		grid-template-columns: repeat(3, 1fr);
	}

	@media (min-width: 90rem) {
		grid-template-columns: repeat(4, 1fr);
	}

	.book {
		display: flex;
		flex-direction: column;
		gap: 0.25rem;
		padding: 0.5rem;
		background: var(--grey);
		margin-left: 0;

		h2 {
			font-size: 1.2rem;
			line-height: 1.2rem;
			text-wrap: initial;
		}
	}
}
