.portfolio-items {
	display: flex;
	height: calc(100vh - 8rem);
	gap: 3rem;
	overflow-x: auto;
	scroll-snap-type: x mandatory;

	a {
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-width: calc(100vw - 13rem);
		padding: 2rem 1rem;
		text-decoration: none;
		scroll-snap-align: center;
		scale: 0.98;
		transition: scale 0.25s;

		&:hover {
			scale: 1;
		}

		h2 {
			font-size: clamp(5.5rem, 7vw, 8rem);
			line-height: 1;
		}

		p {
			font-size: 1.5rem;
			margin: 0;
		}
	}
}

@media (max-width: 700px) {
	.portfolio-items {
		flex-direction: column;
		height: auto;
		gap: 1rem;

		a {
			width: 100%;
			min-height: 20rem;

			h2 {
				font-size: 3rem;
			}

			p {
				font-size: 1rem;
			}
		}
	}
}
