.readable-width {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

article {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	padding: 0.5rem 0;
	border-bottom: 2px solid var(--bright_grey);
}

.service-info {
	display: flex;
	align-items: center;
	justify-content: space-between;

	a:has(span) {
		text-decoration: none;
	}
}

.up {
	color: var(--green);
}

.down {
	color: var(--red);
}

.degraded {
	color: var(--yellow);
}

@media (max-width: 40rem) {
	.service-info {
		flex-direction: column;
		align-items: initial;
		gap: inherit;
	}
}
