@font-face {
	font-family: "Lexend";
	src: url("/assets/typefaces/Lexend/Lexend-VariableFont_wght.ttf");
}

@font-face {
	font-family: "Fira Code";
	src: url("/assets/typefaces/Fira_Code/FiraCode-VariableFont_wght.ttf");
}

@font-face {
	font-family: "Material Symbols Sharp";
	src: url("/assets/typefaces/Material_Symbols_Sharp/MaterialSymbolsSharp-Regular.ttf");
}

.material-icons {
	font-family: "Material Symbols Sharp";
	user-select: none;
}

p {
	margin-bottom: 0.8rem;
}

.readable_width {
	max-width: 80ch;
}

blockquote {
	padding: 0.5rem 1rem;
	background: light-dark(var(--white), var(--dark_grey));
	border-left: 0.2rem solid var(--grey);
	margin-bottom: 0.8rem;

	p {
		margin: 0;
	}
}

li {
	list-style-position: inside;
	line-height: 1.4rem;
	margin-bottom: 0.3rem;
}

::selection {
	background: var(--blue);
}
