footer {
	display: flex;
	flex-direction: column;
	gap: 0.3rem;
	text-align: center;
	margin: 2rem 0 1rem;

	#socials {
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
		gap: 0.5rem;

		img {
			height: 1.5rem;
			width: auto;
		}
	}

	a:link,
	a:visited,
	a:hover,
	a:active {
		color: light-dark(var(--orange), var(--yellow));
		text-decoration: none;
		padding: 0 0.5rem;
	}

	a:after {
		display: none;
	}
}
